.todos-wrapper {
  margin-top: 30px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
}

textarea.todos-text {
  display: block;
  height: 30px;
  padding: 10px;
  width: 240px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  line-height: 1.6;
  text-align: left;
  resize: none;
  font-size: 16px;
  align-items: center;
}

.todos-text-checked {
  background-color: rgb(240, 147, 147);
}

.todos_checkbox {
  width: 17px;
  height: 17px;
}

.todos-button {
  height: 50px;
  width: 90px;
  background-color: #f5afd5;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.todos-button:hover {
  cursor: pointer;
}

.todos__no-text {
  margin-top: 30px;
}
